<!-- Please remove this file from your project -->
<template>
<div>
  <header class="bg-blue-950 text-white px-10 py-4 grid grid-cols-12 gap-4">
    <div class="col-span-2">
      <h2 class="text-lg">Valvindo</h2>

    </div>
    <div class="col-span-10 flex space-x-4 items-center justify-between">
       <div class="space-x-4">
          <a href="#">About Us</a>
            <a href="#">News</a>
              <a href="#">Help</a>
        </div>
        <div class="space-x-4">
           <a href="#">Register</a>
          <a href="#" class="p-2 rounded-lg bg-red-500">Login</a>
        </div>

    </div>
  </header>
  <div class="bg-blue-900 px-10 py-4 grid grid-cols-12 gap-4">
    <div class="col-span-2 flex items-center justify-center text-white text-center">
      <span class="px-4 py-2 rounded-lg  bg-blue-950">All products</span>
    </div>
    <div class="col-span-10">
      <div class="flex">
        <input type="text" name="search" placeholder="Search at Valvindo" class="w-full py-2 pl-4 pr-4 rounded-l-lg border border-gray-300 focus:outline-none focus:border-blue-500">
        <div class="text-white flex items-center bg-blue-950 px-4">
          icon
        </div>
      </div>
    </div>

  </div>

  <!--

    body
   -->

   <div class="px-10 py-4">
    <h2 class="font-bold">Product Category</h2>
    <div class="w-1/2 mt-2">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
    </div>
    <h2 class="font-bold mt-4">Velves</h2>

    <div class="grid grid-cols-12 mt-4">
      <div class="col-span-2 border h-36 flex items-end p-2" v-for="item in velves" :key="item.id">
        {{ item.name }}
      </div>
    </div>

    <h2 class="font-bold mt-4">Flanges</h2>

      <div class="grid grid-cols-12 mt-4">
        <div class="col-span-2 border h-36 flex justify-center items-end p-2" v-for="item in flanges" :key="item.id">
          {{ item.name }}
        </div>
      </div>

     <h2 class="font-bold mt-4">Fittings</h2>

    <div class="grid grid-cols-12 mt-4">
      <div class="col-span-2 border h-36 flex justify-center items-end p-2" v-for="item in fittings" :key="item.id">
        {{ item.name }}
      </div>
    </div>

    <div class="text-center mt-4 text-xl">
      <span class="text-red-500 font-bold">Vission </span>& <span class="text-red-500 font-bold">Mission</span>
    </div>
    <div class="w-full flex items-center justify-center mt-4">
      <div class="w-32 border-red-500 border relative">
        <div class="absolute left-0 top-1/2 transform -translate-y-1/2 w-4 h-4 bg-red-500 rounded-full"></div>
        <div class="absolute right-0 top-1/2 transform -translate-y-1/2 w-4 h-4 bg-red-500 rounded-full"></div>
      </div>
    </div>

    <div class="mt-16 flex items-center space-x-4 justify-center ">
      <div class="w-1/4 bg-blue-950 p-4 text-center relative">
            <div class="flex items-center w-full justify-center -mt-12">
              <div class="h-16 w-16 bg-red-500 rounded-full">

              </div>
            </div>

            <div class="text-white mt-4">
              <span>Customer</span>
              <p class="mt-4 text-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
            </div>
          </div>
      <div class="w-1/4 bg-blue-950 p-4 text-center relative">
              <div class="flex items-center w-full justify-center -mt-12">
                <div class="h-16 w-16 bg-red-500 rounded-full">

                </div>
              </div>

              <div class="text-white mt-4">
                <span>Product</span>
                <p class="mt-4 text-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
              </div>
            </div>

            <div class="w-1/4 bg-blue-950 p-4 text-center relative">
              <div class="flex items-center w-full justify-center -mt-12">
                <div class="h-16 w-16 bg-red-500 rounded-full">

                </div>
              </div>

              <div class="text-white mt-4">
                <span>People</span>
                <p class="mt-4 text-sm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
              </div>
            </div>
    </div>

   </div>
</div>
</template>

<script>
export default {
  name: 'NuxtTest',
  data() {
    return {
      velves: [
        { id: 1, name: 'Velves 1' },
        { id: 2, name: 'Velves 2' },
        { id: 3, name: 'Velves 3' },
        { id: 4, name: 'Velves 4' },
        { id: 5, name: 'Velves 5' },
        { id: 6, name: 'Velves 6' },
        { id: 7, name: 'Velves 7' },
      ],
      flanges: [
        { id: 1, name: 'flanges 1' },
        { id: 2, name: 'flanges 2' },
        { id: 3, name: 'flanges 3' },
        { id: 4, name: 'flanges 4' },
        { id: 5, name: 'flanges 5' },
      ],
      fittings: [
        { id: 1, name: 'fittings 1' },
        { id: 2, name: 'fittings 2' },
        { id: 3, name: 'fittings 3' },
        { id: 4, name: 'fittings 4' },
        { id: 5, name: 'fittings 5' },
        { id: 6, name: 'fittings 6' },
      ]
    };
  }
}
</script>
